body {
    background-color: rgba(246, 243, 239, 1) !important;
}

section {
    margin-top: 15%;
    width: 35% !important;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}

section div {
    h2 {
        color: rgba(21, 118, 214, 1);
    }

    input {
        height: 50px;
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 13px;
        border: 1px solid rgb(221, 220, 220);
    }


    button {
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid wheat;
    }

    .calc {
        background-color: black;
        color: white;
    }

    .result {
        border: 1px solid rgba(244, 193, 35, 1);
        background-color: white;
    }
}

@media screen and (max-width: 1440px) {
    section{
        margin-top: 38%;
    }
}

@media screen and (max-width: 1024px) {
    section{
        margin-top: 50% !important;
        width: 50% !important;
    }
}

@media screen and (max-width: 786px) {
    section{
        margin-top: 60% !important;
        width: 70% !important;
    }
}

@media screen and (max-width: 450px) {
    section{
        margin-top: 110% !important;
        width: 100% !important;
    }
}